    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
            
              <strong>Your Favorite Place of Helping One Another</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">We all together reuse, recycle, reduce and rebuild better community!</p>
            <a class="btn btn-warning btn-xl js-scroll-trigger" href="/household_items">Find Out More</a>
          </div>
        </div>
    </div>
  </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">We all together reuse, recycle, reduce and rebuild better community!</p>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="/support">Contact Us!</a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-light" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-dark">About Me!</h2>
            <hr class="light my-4">
            <p class="text-info mb-5">I have been with Coder Academy since 29 Jul 2017. I have no prior programming experience. I am an executive in the area of project management, company process integration, finance, payroll and company data analysis. I love and good at connecting different communities. Therefore, I created a minimum viable product applications based on a hypothetical two sides market where people can recycle their good household items. I used less than 2.5 weeks times periods, from planning to the apps up and run.</p>
            <a class="btn btn-warning btn-xl js-scroll-trigger" href="/support">Join mailing list!</a>
          </div>
        </div>
      </div>
    </section>