<div class="success">

        <h3>Customer Service</h3>

        <h5>Your message has been successfully received.</h5>

        <h5>We will in touch within 48 hours.</h5>

<%# link_to 'Back to Index Page', book_collections_path %>

</div>